{% extends 'base.html' %}
{% block title %}
    Band-Flight
{% endblock %}
{% block content %}
    <div class="back container-fluid">
        <div class="row">
            <h1 class="txt"> Welcome to Band-Flight! </h1>
            <p class="txt">
                The purpose of this web-app is to make discovering
                new artists simpler!
            </p>
        </div>
        <div class="row">
            <h1 class="txt"> What's it all about?! </h1>
            <p class="txt">
                I'm glad you asked! Much like you can order a flight of drinks
                at a bar to try a variety you may not have encountered before,
                we hope to do the same here with music! Instead of putting alcohol
                in your face, we'll be putting music in your ears!
            </p>
        </div>
    </div>
{% endblock %}